.contenedor-publico{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
  }
  
  .cuerpo-publico{
    height: 100%; 
  }
  
  #titulo-login {
    color: black;
    font-size: 48px;
    position: relative;
    perspective: 1000px;
    text-transform:none;
  }
  
  #titulo-login:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    transform-style: preserve-3d;
    transform: translateZ(-50px);
    background-color: rgba(124, 247, 99, 0.2);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 60px;
  }

